In [3]:
import pandas as pd
import numpy as np 
df = pd.read_csv('Nike_Sales_Uncleaned.csv')
df = pd.read_csv('Nike_Sales_Uncleaned.csv')
df.head()

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit
0,2000,Kids,Training,SuperRep Go,M,NaN,NaN,0.47,0.0,2024-03-09,Online,bengaluru,-770.45
1,2001,Women,Soccer,Tiempo Legend,M,3.0,4957.93,NaN,0.0,2024-07-09,Retail,Hyd,-112.53
2,2002,Women,Soccer,Premier III,M,4.0,NaN,NaN,0.0,NaN,Retail,Mumbai,3337.34
3,2003,Kids,Lifestyle,Blazer Mid,L,NaN,9673.57,NaN,0.0,04-10-2024,Online,Pune,3376.85
4,2004,Kids,Running,React Infinity,XL,NaN,NaN,NaN,0.0,2024/09/12,Retail,Delhi,187.89

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df.isnull().sum()

Order_ID               0
Gender_Category        0
Product_Line           0
Product_Name           0
Size                 510
Units_Sold          1235
MRP                 1254
Discount_Applied    1668
Revenue                0
Order_Date           616
Sales_Channel          0
Region                 0
Profit                 0
dtype: int64

In [5]:
df.shape

(2500, 13)

In [6]:
df.dtypes

Order_ID              int64
Gender_Category      object
Product_Line         object
Product_Name         object
Size                 object
Units_Sold          float64
MRP                 float64
Discount_Applied    float64
Revenue             float64
Order_Date           object
Sales_Channel        object
Region               object
Profit              float64
dtype: object

In [7]:
df['Size'].fillna(df['Size'].mode()[0], inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\2279563953.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Size'].fillna(df['Size'].mode()[0], inplace=True)

In [8]:
df.Size.isnull().sum()

np.int64(0)

In [9]:
#mode to obj value of null
df['Order_Date'].fillna(df['Order_Date'].mode()[0], inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\2051167563.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_Date'].fillna(df['Order_Date'].mode()[0], inplace=True)

In [10]:
df.Order_Date.isnull().sum()

np.int64(0)

In [11]:
#mean to fload value of null
df['MRP'].fillna(df['MRP'].mean(), inplace=True)
df['Discount_Applied'].fillna(0, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\1486876729.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MRP'].fillna(df['MRP'].mean(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\1486876729.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount_Applied'].fillna(0, inplace=True)

In [12]:
df['Units_Sold'].fillna(df['Units_Sold'].mean(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\3176916641.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Units_Sold'].fillna(df['Units_Sold'].mean(), inplace=True)

In [13]:
df['Discount_Applied'].unique()

array([0.47, 0.  , 0.32, 0.86, 0.3 , 1.17, 0.67, 0.66, 0.5 , 0.16, 0.22,
       1.05, 0.82, 1.07, 0.38, 1.01, 0.83, 0.63, 0.77, 1.04, 0.57, 0.37,
       0.94, 0.78, 0.49, 0.85, 0.21, 0.45, 0.6 , 1.13, 0.29, 0.69, 0.27,
       0.42, 1.14, 0.53, 0.41, 1.24, 0.24, 0.74, 0.95, 1.1 , 1.12, 0.48,
       0.09, 0.8 , 0.01, 1.06, 1.2 , 1.16, 0.59, 0.9 , 0.51, 0.65, 0.97,
       0.36, 0.11, 0.12, 0.31, 0.89, 0.84, 0.39, 0.54, 1.08, 1.03, 0.07,
       1.22, 0.26, 0.25, 0.81, 0.08, 0.71, 0.56, 0.06, 0.91, 0.93, 1.23,
       0.34, 0.05, 0.35, 0.88, 1.02, 1.25, 1.19, 0.2 , 0.03, 1.11, 0.14,
       0.15, 1.15, 0.1 , 0.79, 0.04, 0.19, 0.62, 1.09, 0.33, 0.18, 0.75,
       0.99, 0.55, 0.72, 0.76, 0.7 , 0.44, 1.18, 0.43, 1.21, 0.73, 1.  ,
       0.02, 0.68, 0.96, 0.23, 0.98, 0.61, 0.28, 0.58, 0.46, 0.17, 0.87,
       0.13, 0.52, 0.4 , 0.92, 0.64])

In [14]:
df.isnull().sum()

Order_ID            0
Gender_Category     0
Product_Line        0
Product_Name        0
Size                0
Units_Sold          0
MRP                 0
Discount_Applied    0
Revenue             0
Order_Date          0
Sales_Channel       0
Region              0
Profit              0
dtype: int64

In [15]:
negative_sales = df[df['Units_Sold'] < 0]
print(negative_sales)

      Order_ID Gender_Category Product_Line        Product_Name Size  \
8         2008           Women       Soccer         Premier III   11
11        2011           Women     Training        Flex Trainer    L
12        2018            Kids    Lifestyle          Blazer Mid    L
20        2020            Kids       Soccer       Tiempo Legend    L
21        2021             Men      Running             Free RN    L
33        2033             Men       Soccer  Mercurial Superfly   XL
54        2054           Women     Training        Flex Trainer   11
59        2059            Kids       Soccer          Phantom GT    L
66        2066             Men       Soccer          Phantom GT   XL
74        2074             Men     Training        Flex Trainer    L
79        2079             Men      Running       Pegasus Turbo   XL
82        2028             Men      Running             Free RN    L
102       2102           Women       Soccer  Mercurial Superfly   XL
103       2103           Women   Basketball           LeBron 20   XL
119       2119           Women     Training            Metcon 7   11
121       2000            Kids      Running      React Infinity    M
126       2126            Kids      Running       Pegasus Turbo    L
127       2127             Men     Training            Metcon 7    L
143       2143            Kids     Training    ZoomX Invincible    L
147       2147           Women       Soccer          Phantom GT   XL
158       2158           Women      Running      React Infinity    M
173       2173             Men      Running             Free RN    L
188       2188             Men      Running      React Infinity    L
192       2192             Men   Basketball       Kyrie Flytrap   XL
193       2193           Women    Lifestyle          Waffle One   XL
202       2202             Men   Basketball       Kyrie Flytrap    M
219       2219           Women   Basketball          Air Jordan    M
223       2223            Kids     Training        Flex Trainer    M
224       2224            Kids    Lifestyle            Dunk Low    L
242       2046            Kids   Basketball           LeBron 20    L
246       2246            Kids   Basketball           LeBron 20    L
267       2267           Women      Running            Air Zoom    M
273       2273            Kids      Running             Free RN    M
275       2275            Kids      Running       Pegasus Turbo    M
276       2276            Kids    Lifestyle         Air Force 1    L
280       2280           Women       Soccer  Mercurial Superfly    M
285       2285           Women   Basketball           LeBron 20    L
291       2291           Women   Basketball           LeBron 20    L
319       2319           Women   Basketball       Kyrie Flytrap    L
332       2332            Kids     Training        Flex Trainer    L
344       2344            Kids     Training    ZoomX Invincible   10
359       2359             Men    Lifestyle          Waffle One    L
374       2006           Women   Basketball          Zoom Freak    L
375       2375             Men     Training            Metcon 7    L
378       2378           Women   Basketball           LeBron 20   XL
383       2004           Women   Basketball           LeBron 20    L
390       2390            Kids    Lifestyle          Waffle One   XL
399       2399           Women      Running            Air Zoom    L
434       2434            Kids     Training            Metcon 7    M
439       2439             Men    Lifestyle          Blazer Mid    L
440       2440           Women   Basketball       Kyrie Flytrap   XL
449       2449           Women     Training         SuperRep Go    L
466       2466           Women       Soccer  Mercurial Superfly    L
483       2483            Kids      Running             Free RN    L
503       2503           Women     Training    ZoomX Invincible   XL
511       2511             Men      Running       Pegasus Turbo    L
558       2558            Kids   Basketball       Kyrie Flytrap    L
572       2572             Men    Lifestyle          Waffle One   XL
577       2577           Women      Running            Air Zoom    L
596       2030             Men       Soccer  Mercurial Superfly    M
605       2605            Kids    Lifestyle            Dunk Low    L
625       2625            Kids     Training        Flex Trainer    M
632       2632             Men      Running       Pegasus Turbo    L
674       2674           Women    Lifestyle          Waffle One    7
687       2687           Women    Lifestyle          Waffle One    8
695       2695             Men   Basketball          Air Jordan    L
697       2697             Men   Basketball          Air Jordan    M
734       2734           Women       Soccer       Tiempo Legend    L
745       2745             Men       Soccer          Phantom GT   XL
746       2746           Women   Basketball          Air Jordan    L
766       2766           Women    Lifestyle            Dunk Low    L
792       2792            Kids    Lifestyle          Waffle One    L
796       2796             Men    Lifestyle            Dunk Low   12
804       2804            Kids      Running       Pegasus Turbo   XL
805       2805           Women      Running       Pegasus Turbo    L
818       2818            Kids       Soccer         Premier III    L
830       2830             Men   Basketball          Air Jordan    L
834       2834            Kids     Training        Flex Trainer    M
840       2050           Women    Lifestyle          Blazer Mid    L
842       2842           Women       Soccer          Phantom GT    M
854       2854           Women   Basketball           LeBron 20    L
860       2860            Kids    Lifestyle         Air Force 1   XL
864       2864            Kids       Soccer       Tiempo Legend    L
934       2934           Women   Basketball           LeBron 20   XL
940       2940           Women       Soccer         Premier III    L
941       2941             Men    Lifestyle          Blazer Mid   XL
943       2943           Women     Training         SuperRep Go    7
945       2945            Kids   Basketball           LeBron 20   XL
954       2954           Women     Training        Flex Trainer    L
962       2962           Women    Lifestyle         Air Force 1    9
964       2964            Kids   Basketball          Zoom Freak    L
997       2043           Women    Lifestyle          Waffle One    L
1015      3015           Women      Running      React Infinity    L
1022      3022            Kids     Training    ZoomX Invincible    L
1058      3058             Men       Soccer          Phantom GT    M
1082      3082             Men     Training            Metcon 7    L
1086      3086            Kids   Basketball       Kyrie Flytrap    9
1108      3108            Kids       Soccer          Phantom GT    M
1141      3141           Women     Training    ZoomX Invincible   11
1159      3159           Women      Running            Air Zoom   10
1172      3172             Men     Training            Metcon 7    9
1175      3175           Women    Lifestyle            Dunk Low   10
1194      3194            Kids     Training         SuperRep Go    M
1197      3197             Men     Training            Metcon 7    M
1206      3206            Kids   Basketball       Kyrie Flytrap    L
1222      3222            Kids   Basketball          Air Jordan   XL
1239      3239             Men      Running       Pegasus Turbo   XL
1240      3240            Kids   Basketball          Zoom Freak    9
1251      3251             Men       Soccer         Premier III    7
1255      3255            Kids   Basketball          Air Jordan   XL
1257      3257           Women      Running             Free RN    7
1273      3273           Women       Soccer          Phantom GT    M
1276      2046             Men       Soccer       Tiempo Legend    L
1280      3280            Kids     Training         SuperRep Go   XL
1289      3289             Men     Training            Metcon 7    M
1323      3323             Men      Running            Air Zoom    L
1328      3328           Women       Soccer          Phantom GT    L
1330      3330           Women     Training            Metcon 7    M
1331      3331            Kids       Soccer          Phantom GT    L
1392      3392            Kids    Lifestyle            Dunk Low    L
1415      3415            Kids   Basketball          Air Jordan    L
1425      3425           Women    Lifestyle            Dunk Low    L
1431      3431           Women     Training            Metcon 7    L
1445      3445             Men    Lifestyle          Blazer Mid   10
1456      3456           Women   Basketball          Air Jordan   12
1495      3495           Women   Basketball           LeBron 20    M
1501      3501             Men    Lifestyle          Blazer Mid    L
1540      3540            Kids     Training        Flex Trainer   XL
1541      3541            Kids     Training         SuperRep Go    M
1594      3594            Kids     Training        Flex Trainer    L
1602      3602             Men       Soccer       Tiempo Legend   XL
1611      3611           Women    Lifestyle          Waffle One    L
1624      3624           Women       Soccer         Premier III    6
1630      3630             Men     Training        Flex Trainer   12
1642      3642             Men     Training            Metcon 7   XL
1657      3657             Men       Soccer  Mercurial Superfly    L
1687      3687           Women     Training    ZoomX Invincible   XL
1695      3695            Kids     Training         SuperRep Go    L
1697      3697           Women      Running             Free RN    L
1709      3709             Men       Soccer         Premier III    9
1723      3723             Men       Soccer  Mercurial Superfly    7
1739      3739           Women     Training         SuperRep Go   11
1750      3750            Kids     Training            Metcon 7    7
1751      3751            Kids    Lifestyle         Air Force 1   XL
1771      3771            Kids   Basketball       Kyrie Flytrap   XL
1777      3777             Men     Training         SuperRep Go   XL
1809      3809           Women      Running            Air Zoom   11
1814      3814            Kids    Lifestyle            Dunk Low    M
1817      3817            Kids   Basketball       Kyrie Flytrap   XL
1821      3821           Women    Lifestyle         Air Force 1    L
1823      3823             Men      Running            Air Zoom    L
1841      3841             Men      Running      React Infinity    L
1842      3842             Men       Soccer       Tiempo Legend    M
1876      3876             Men       Soccer          Phantom GT   XL
1894      3894           Women       Soccer         Premier III   11
1895      3895             Men       Soccer       Tiempo Legend   XL
1912      3912            Kids   Basketball           LeBron 20    L
1919      2032            Kids    Lifestyle          Waffle One    6
1946      3946             Men     Training         SuperRep Go    L
1962      2041            Kids       Soccer       Tiempo Legend    M
1964      3964           Women     Training    ZoomX Invincible   XL
1989      3989             Men     Training            Metcon 7    L
1992      3992             Men    Lifestyle            Dunk Low   XL
1993      3993            Kids    Lifestyle          Blazer Mid    7
1995      3995             Men    Lifestyle         Air Force 1   11
2000      4000           Women   Basketball          Air Jordan    M
2010      2046             Men     Training    ZoomX Invincible    M
2019      4019           Women       Soccer       Tiempo Legend   10
2036      4036             Men       Soccer  Mercurial Superfly    M
2060      4060           Women       Soccer       Tiempo Legend    L
2068      4068             Men       Soccer       Tiempo Legend   10
2071      4071             Men    Lifestyle          Blazer Mid    L
2075      4075            Kids      Running             Free RN   XL
2084      4084            Kids      Running            Air Zoom    7
2092      4092           Women    Lifestyle         Air Force 1   XL
2102      4102             Men   Basketball           LeBron 20    L
2111      4111           Women    Lifestyle          Waffle One    L
2112      4112           Women      Running      React Infinity    L
2127      4127           Women      Running             Free RN    L
2140      4140           Women      Running            Air Zoom   XL
2142      4142            Kids     Training        Flex Trainer    L
2144      4144             Men     Training    ZoomX Invincible   XL
2154      4154           Women       Soccer       Tiempo Legend    L
2155      4155            Kids     Training        Flex Trainer    M
2167      4167             Men   Basketball       Kyrie Flytrap   XL
2216      4216            Kids    Lifestyle          Waffle One    M
2226      4226           Women    Lifestyle          Waffle One    L
2258      4258            Kids    Lifestyle            Dunk Low    L
2264      4264            Kids    Lifestyle         Air Force 1    M
2290      4290            Kids    Lifestyle          Blazer Mid    L
2318      4318           Women   Basketball       Kyrie Flytrap   11
2327      4327             Men     Training         SuperRep Go    L
2336      4336             Men       Soccer          Phantom GT   XL
2347      4347             Men    Lifestyle            Dunk Low   12
2352      4352             Men      Running       Pegasus Turbo    9
2353      4353             Men       Soccer         Premier III    M
2354      4354             Men       Soccer         Premier III    L
2375      4375           Women     Training    ZoomX Invincible    L
2397      4397             Men      Running      React Infinity    9
2405      4405           Women     Training        Flex Trainer   XL
2410      4410             Men   Basketball       Kyrie Flytrap   XL
2457      2019             Men    Lifestyle         Air Force 1    L
2459      4459             Men     Training         SuperRep Go    L
2460      4460           Women       Soccer       Tiempo Legend    M
2496      4496             Men   Basketball       Kyrie Flytrap    L

      Units_Sold          MRP  Discount_Applied  Revenue  Order_Date  \
8           -1.0  6039.863395              0.00     0.00  11-10-2024
11          -1.0  9586.080000              0.00     0.00  10-12-2024
12          -1.0  6039.863395              0.86     0.00  13-11-2024
20          -1.0  6039.863395              0.67     0.00  28-03-2025
21          -1.0  7086.700000              0.66 -2409.48  2024/11/19
33          -1.0  6039.863395              0.00     0.00  10-12-2024
54          -1.0  6039.863395              0.00     0.00  2025/06/23
59          -1.0  9507.540000              0.00     0.00  2023-12-27
66          -1.0  5259.050000              0.00     0.00  2024-12-10
74          -1.0  6039.863395              0.57     0.00  10-12-2024
79          -1.0  4322.060000              0.00     0.00  2025/01/19
82          -1.0  6039.863395              0.21     0.00  2024-02-14
102         -1.0  6039.863395              0.77     0.00  10-04-2025
103         -1.0  6777.880000              0.00     0.00  2025/01/08
119         -1.0  6039.863395              0.41     0.00  05-04-2025
121         -1.0  6039.863395              0.00     0.00  2023-11-20
126         -1.0  5399.580000              0.00     0.00  2024/12/14
127         -1.0  4020.500000              0.00     0.00  2023-08-19
143         -1.0  6039.863395              0.00     0.00  2025/03/10
147         -1.0  6039.863395              0.00     0.00  2024-09-14
158         -1.0  6039.863395              0.50     0.00  28-01-2025
173         -1.0  6620.780000              0.00     0.00  29-03-2025
188         -1.0  6039.863395              0.00     0.00  10-12-2024
192         -1.0  6039.863395              0.00     0.00  2023-10-13
193         -1.0  6039.863395              1.24     0.00  2025-01-17
202         -1.0  7918.930000              1.06   475.14  2025/07/04
219         -1.0  6039.863395              1.06     0.00  10-12-2024
223         -1.0  9180.150000              0.00     0.00  2025-02-15
224         -1.0  6039.863395              0.12     0.00  24-09-2024
242         -1.0  4934.460000              0.86  -690.82  10-12-2024
246         -1.0  7806.980000              0.00     0.00  02-10-2024
267         -1.0  3075.720000              0.00     0.00  2024-12-20
273         -1.0  4004.360000              0.00     0.00  2024-01-30
275         -1.0  6039.863395              0.00     0.00  03-07-2025
276         -1.0  6066.500000              0.00     0.00  2023-08-29
280         -1.0  6039.863395              0.00     0.00  2025/02/13
285         -1.0  6039.863395              0.00     0.00  10-12-2024
291         -1.0  6039.863395              0.00     0.00  10-12-2024
319         -1.0  5649.990000              0.00     0.00  29-06-2025
332         -1.0  6039.863395              0.22     0.00  2024-07-15
344         -1.0  6039.863395              0.65     0.00  20-06-2025
359         -1.0  9836.480000              0.34 -6492.08  10-12-2024
374         -1.0  8799.220000              0.00     0.00  2023-08-13
375         -1.0  9061.250000              0.00     0.00  05-04-2025
378         -1.0  6039.863395              0.00     0.00  04-11-2024
383         -1.0  3272.450000              0.00     0.00  2025/02/28
390         -1.0  6039.863395              0.00     0.00  2025/05/24
399         -1.0  6188.290000              0.00     0.00  2024-08-07
434         -1.0  3019.250000              0.79  -634.04  2025/02/11
439         -1.0  3239.590000              0.00     0.00  2025/03/03
440         -1.0  7510.800000              0.00     0.00  12-11-2024
449         -1.0  3664.690000              0.00     0.00  02-03-2025
466         -1.0  6569.650000              0.00     0.00  2025/07/05
483         -1.0  6039.863395              0.00     0.00  2025/05/17
503         -1.0  6039.863395              0.00     0.00  20-01-2025
511         -1.0  6310.250000              0.10 -5679.23  2025/02/13
558         -1.0  3134.870000              0.00     0.00  10-12-2024
572         -1.0  2729.990000              0.76  -655.20  2024-01-31
577         -1.0  5545.520000              0.00     0.00  2023-11-16
596         -1.0  6039.863395              0.70     0.00  15-03-2025
605         -1.0  7206.450000              0.00     0.00  2025-02-01
625         -1.0  6815.440000              0.00     0.00  2025-02-05
632         -1.0  7504.200000              0.99   -75.04  2024-03-10
674         -1.0  4784.450000              0.00     0.00  2025/01/25
687         -1.0  2381.940000              0.00     0.00  30-09-2024
695         -1.0  6039.863395              0.00     0.00  12-10-2024
697         -1.0  6039.863395              0.09     0.00  2025/06/25
734         -1.0  6039.863395              0.00     0.00  2025/07/10
745         -1.0  6039.863395              0.94     0.00  2024/12/31
746         -1.0  9795.690000              0.00     0.00  21-09-2024
766         -1.0  2609.070000              0.00     0.00  2024/12/23
792         -1.0  4338.160000              0.00     0.00  08-05-2025
796         -1.0  2849.490000              0.00     0.00  2023-11-08
804         -1.0  6039.863395              0.00     0.00  10-12-2024
805         -1.0  6039.863395              0.82     0.00  2023-08-28
818         -1.0  6039.863395              0.00     0.00  2025/05/08
830         -1.0  8572.480000              0.88 -1028.70  10-12-2024
834         -1.0  9544.080000              0.00     0.00  2024-09-05
840         -1.0  6039.863395              0.00     0.00  2024-11-28
842         -1.0  6039.863395              0.00     0.00  2025-01-19
854         -1.0  6039.863395              0.98     0.00  2023-11-07
860         -1.0  7568.040000              0.00     0.00  2025/04/07

In [16]:
df.loc[df['Units_Sold'] < 0, 'Units_Sold'] = np.nan

In [17]:
min_value = df["Units_Sold"].min()
print(min_value)

0.0

In [18]:
df.isnull().sum()

Order_ID              0
Gender_Category       0
Product_Line          0
Product_Name          0
Size                  0
Units_Sold          205
MRP                   0
Discount_Applied      0
Revenue               0
Order_Date            0
Sales_Channel         0
Region                0
Profit                0
dtype: int64

In [19]:
df["Units_Sold"].fillna(df["Units_Sold"].median(),inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19872\3227812724.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Units_Sold"].fillna(df["Units_Sold"].median(),inplace=True)

In [20]:
df.to_csv("C:/Users/User/BPS_Batch-30/cleaned_nikesale.csv")

OSError: Cannot save file into a non-existent directory: 'C:\Users\User\BPS_Batch-30'